/* Grid Container */
.grid-container {
  height: 600px;
  width: 100%;
  position: relative;
}

.grid-container ag-grid-angular {
  display: block;
  width: 100%;
  height: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-container {
    height: 400px;
  }
}

